    <div class="book-min" >
        <!--<a [routerLink]="['Reader',{id:book.dbIndex}]">-->
        <img src={{book.okladkaUrl}} />
        <h4>{{book.title}}</h4>
        <h5 >{{book.author.name}}</h5>
        <!--</a>-->
        
        <div >
    
    <a class="waves-effect waves-light btn" [routerLink]="['Admin','Book',{'id':book.dbIndex}]">Edit</a>
  </div>
    </div>