<style>
  .page-host {
    background-color: #efeeec;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col s7">


      <h4>{{book.title}}</h4>
      <h6>{{book.author.name}}</h6>
      <br/>
      <div class="book-read-window">
        {{book.curPage?.getContent()}}
      </div>

    </div>
    <div class="col s3 offset-s1">
      <div class="book-read-dictionary">
        <img src="img\text-look-it-up.png"/>
        <!-- div shape is used to simulate folding of box cornner-->
        <div class="shape"></div>
        <p>
          <b>solidly</b> - with strength and soundness, as an undiversified whole
        </p>
        <p>
          <b>mild</b> - not cold, severe, or extreme, as air or weather
        </p>
        <p>
          <b>complexion</b> - the natural appearance of the skin on a person's face, especially its colour or quality
        </p>
        <br/>
        <br/>
      </div>
    </div>

    <div class="col s7 center book-read-arrows">

      <a (click)="changePage('prev')"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a> <span>{{book.curPage?.number}}/{{book.numberOfPages}}</span>
      <a (click)="changePage('next')"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>

</div>

