
  
  <div class="container">
    <div class ="row">
      <div class="col s12">


        <h4>Library</h4>
        
        <book-min *ngFor="let book of books" [book]="book">

        </book-min>
      </div>
      
    </div>
  </div>


