/*mryellow-components ai-dialog.scss*/

ai-dialog-container,
ai-dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

ai-dialog-overlay {
    opacity: 0
}

ai-dialog-overlay.active {
    opacity: 1
}

ai-dialog-container {
    display: block;
    transition: opacity .2s linear;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

ai-dialog-container.active {
    opacity: 1
}

ai-dialog-container>div {
    padding: 30px
}

ai-dialog-container>div>div {
    display: block;
    min-width: 300px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto
}

ai-dialog-container,
ai-dialog-container>div,
ai-dialog-container>div>div {
    outline: 0
}

ai-dialog {
    display: table;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 3;
    min-width: 300px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #fff
}

ai-dialog>ai-dialog-header {
    display: block;
    padding: 16px;
    border-bottom: 1px solid #e5e5e5;
}

ai-dialog>ai-dialog-header>button {
    float: right;
    border: none;
    display: block;
    width: 32px;
    height: 32px;
    background: 0 0;
    font-size: 22px;
    line-height: 16px;
    margin: -14px -16px 0 0;
    padding: 0;
    cursor: pointer;
    right: 0;
}

ai-dialog>ai-dialog-body {
    display: block;
    padding: 16px
}

ai-dialog>ai-dialog-footer {
    display: block;
    padding: 6px;
    border-top: 1px solid #e5e5e5;
    text-align: right
}

ai-dialog>ai-dialog-footer button {
    color: #333;
    background-color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0 5px 5px
}

ai-dialog>ai-dialog-footer button:disabled {
    cursor: default;
    opacity: .45
}

ai-dialog>ai-dialog-footer button:hover:enabled {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.ai-dialog-open {
    overflow: hidden
}