#editorMenu {

    padding: 3px;
    background-color: lightgray;
    margin: 5px 0;
}
#editorView {
    line-height: 1.2;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
}
.editor-field {
	border:thin solid black;
	&:focus{
		background-color: #fbf4b1;
	}
}