/* CSS Document */
//@include fontFace('GOTHAM-LIGHT','fonts/gotham');
//@include fontFace('LibreBaskerville','fonts/LibreBaskerville');

$gotham-font-path : "../fonts/gotham/";
$LibreBaskerville-font-path : "../fonts/LibreBaskerville/";
$AdobeCaslonPro-font-path : "../fonts/AdobeCaslonPro/";
@font-face {
    font-family: "Gotham";
   
    src: url("#{$gotham-font-path}GOTHAM-THIN.TTF") format("truetype");

    font-weight: 200;
}

@font-face {
    font-family: "Gotham";
   
    src: url("#{$gotham-font-path}Gotham-Book-Regular.otf") format("opentype");

    font-weight: 300;
}
@font-face {
    font-family: "Gotham";
   
    src: url("#{$gotham-font-path}GOTHAM-MEDIUM.TTF") format("truetype");

    font-weight: 400;
}
@font-face {
    font-family: "Gotham";
   
    src: url("#{$gotham-font-path}GOTHAM-BOLD.TTF") format("truetype");

    font-weight: 700;
}
@font-face {
    font-family: "Gotham";
   
    src: url("#{$gotham-font-path}GOTHAM-BLACK.TTF") format("truetype");

    font-weight: 900;
}

@font-face {
    font-family: "LibreBaskerville";
   
    src: url("#{$LibreBaskerville-font-path}LibreBaskerville-Regular.ttf") format("truetype");

}

@font-face {
    font-family: "LibreBaskerville";
   
    src: url("#{$LibreBaskerville-font-path}LibreBaskerville-Bold.ttf") format("truetype");
	font-weight: bold;

}

@font-face {
    font-family: "LibreBaskerville";
   
    src: url("#{$LibreBaskerville-font-path}LibreBaskerville-Italic.ttf") format("truetype");
	font-style: italic, oblique;

}

@font-face {
    font-family: "adobe-caslon-pro";
    src: url("#{$AdobeCaslonPro-font-path}ACaslonPro-Regular.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: "adobe-caslon-pro";
    src: url("#{$AdobeCaslonPro-font-path}ACaslonPro-Semibold.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "adobe-caslon-pro";
    src: url("#{$AdobeCaslonPro-font-path}ACaslonPro-SemiboldItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic, oblique;
}
@font-face {
    font-family: "adobe-caslon-pro";
    src: url("#{$AdobeCaslonPro-font-path}ACaslonPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "adobe-caslon-pro";
    src: url("#{$AdobeCaslonPro-font-path}ACaslonPro-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic, oblique;
}