/* CSS Document */

.mryellow-white-color {
	color: $primary-white-text-color;
}

body {
	background-color: $primary-backgorund-color;

}
.scroll-arrow {
	height: 3.2vh;
	cursor: pointer;
}
/*indictotors for slider*/
.indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 1.3vh;
    width: 1.3vh;
    margin: 1.6vh 0.43vh;

    transition: background-color .3s;
    border-radius: 50%;
    border: solid 2px $primary-white-text-color;
}
.active {
 // background-color: $primary-white-text-color;
}
.indicators {

}
.sticky_foot_scroll {
	position: relative;
	align-content:center;
	width: 100%;
	bottom: 0px;
	margin: 2vh 0;
	height: 3.8vh;

}

.sticky_foot_scroll a {
	text-align:center;



}
.underline{
	padding-bottom: 2px;
	border-bottom: 2px solid;


}
#logo-mainpage-nav {
/*	width: 16vw;*/
height: 16vh;
}
#przewijak {
	display: block;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;


	img {
	padding-top: 5px;
	margin: 0 50%;
	}
}
#nav-main {
	margin-left: 20vw;
	font-weight: 900;
position:absolute;


	 li {
	/*padding-top:25px;*/
line-height: normal;
	a {
		font-size: 1rem;
		letter-spacing: 1px;
	}
	}
}
#nav-bar-reader{
color: $primary-white-text-color;
background-color: $footer-bg-primary-color;
line-height: normal;
a {
	color: $primary-white-text-color;
	letter-spacing: 1px;
	font-weight: 700;
}

}
#top-social-bar {
	z-index: 1000;
	position: absolute;
	top: 0;
	right: 0;
	color:black;
	font-size: 0.9rem;
	padding-top: 5px;


		  a {
			  color:black;
			padding-right: 5px;
			&:hover {
	   		color: $primary-color-dark;
      		}
			}



}


@mixin letter-spacing-x {
  @for $i from 1 through 20 {

  .letter-spacing-#{$i} { letter-spacing: #{$i}px; }
  }
}

@include letter-spacing-x;

.button-frame-italic {
	font-family: "LibreBaskerville";
	font-style:italic;
	border: 1px solid black;
	padding: 10px 20px;
	margin-top:5px;
	text-align: center;
	color: black;
	&:hover {
		color: white;
		border: thin solid white;
	}
}

.button-frame-regular {
	font-size: 1rem;
	font-weight: 400;
	border: 2px solid black;
	padding: 16px 32px;
	margin-top:5px;
	text-align: center;
	color: black;
	&:hover {
		color: white;
		border: 2px solid white;
	}

}

.button-frame-regular-white {
	@extend .button-frame-regular;
	color: white;
		border: 2px solid white;
	&:hover {
		color: black;
		border: 2px solid black;
	}
}

.footer-link {
	font-family: "LibreBaskerville";
	font-style:italic;
	font-size: 0.9em;
	color: white;
	padding-right: 10px;
	&:hover {
		color: red;
		border: 0px solid white;
	}
}

.social-links a{
padding-right: 1.5em;

	&:hover {
			color: black;
	}
}
#slajder {
	min-height: 75vh;
  background-color: #db9b8f;
//  background: url("img/features-bg.jpg") center center no-repeat ;
  background-size: cover;
  
}
#table_about {
	width: 75%;
	line-height: 0.5em;
	margin-left:auto;
    margin-right:auto;

	td {
		text-align: center !important;
		padding: 0px 10px;
		margin: 0;
	}
	p {

	font-size: 1.63vh;
	line-height: 2.44vh;
	font-weight: 400;
	}

	img {
	width:100%;

	}

}
footer {
  position: relative;
  bottom: 0;
	background: url("img/footer-fale.png") top center no-repeat;
		-webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

}
#features {
	background: url("img/features-bg.jpg") center center no-repeat;
	//@include background-size('cover'); cant find mixin
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height:95vh;

}
.section-title {

padding-top: 15px;
padding-bottom: 80px;

}
.section-lead {
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 1px;
}

#zajawki {
    
    .row{
      min-height:35vh;    
      color: #4d4d4d;
      text-align: center;
      display: flex;
      .col {
        
        align-items: stretch;
        }
    }
}

.mp-blocks {

h2 {
	font-family: adobe-caslon-pro, serif;
	color: #4d4d4d;
	font-size: 2.3rem;

}
p {
	color: #404040;
	padding: 0 40px;
	font-weight: 300;
	// letter-spacing: 1px;
	font-size: 0.8rem;
}

}

.home-main-slogan {
font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;
	font-family: adobe-caslon-pro, serif;
	font-weight: 900;
	line-height: 1.1;
  font-style: normal;
}

.book-min {
	font-family: adobe-caslon-pro, serif;
    float: left;
    padding: 10px;
    background-color: bisque;
    margin: 5px;
    text-align: center;
	
	

	&:hover {
			@extend .z-depth-3;
	}

	img {

	}
	h4, h5, h6 {
		width: 200px;
		overflow: hidden;
    	text-overflow: ellipsis; 
	

    	white-space: nowrap;
	}
	
}
.page_reader {
	background-color: #efeeec;
}
.book-read-window {
/*	height: 60vh;
    overflow-y: scroll;
	 */
}
.book-read-arrows {
	margin:10px 0;
	 span {
		min-width: 50px;
		 text-align: center;
	 }
	 
	 a {
		text-decoration: none;
		cursor: pointer;
		color: black;
	 }
}
.book-read-dictionary {
position: relative;
    border: thin black solid;
    font-size: 0.7rem;
    margin-top: 15vh;
    padding: 5px;
    /* background-color: lightgrey; */
// background-color: lightgrey;
dl {
	dt{
		font-weight: 700;
		font-size: 0.8rem;
	}
}
}

.book-read-dictionary:after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black #efeeec #efeeec black;
    width: 24px;
    height: 24px;
    // background-color: #db9b8f;
}

.shape {
    bottom: -1px;
    position: absolute;
    height: 24px;
    width: 24px;
    border-right: 1px solid #000;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    right: 11px;
    z-index: 1000;
}

