  <footer class="page-footer mryellow-white-color">
    
      <div class="row">
        <div class="col l5 offset-l1 s12">
          <strong class="mryellow-white-color letter-spacing-1" style="font-size: 1rem; margin-bottom: 5px">SUBSCRIBE TO OUR NEWSLETTER</strong>
          <br/>
          <span style="font-family: 'adobe-caslon-pro';font-weight:400; font-style: italic; font-size: 1rem;">Get illustrated quotes & vocabulary!</span>
          <br>
          <!--<input type="email" placeholder=" enter your e-mail address" style="margin-top: 5px" /><br /><br />-->
          <!--<a href="" class="button-frame-regular-white">SIGN UP</a>-->
          <form method="post" action="https://app.freshmail.com/pl/actions/subscribe/">
<input type="hidden" name="subscribers_list_hash" value="914yxum3ry">
<input class="input" type="text" id="freshmail_email" name="freshmail_email" placeholder=" enter your email address"> <br>
<input class="button-frame-regular-white" type="submit" value="SIGN UP" style="background-color: Transparent;">
</form>
        </div>
        <div class="col l5 offset-l1 s12 center social-links">
          <strong class="mryellow-white-color letter-spacing-1" style="font-size: 1rem; margin-bottom: 5px">STAY TUNED</strong><br/>
          <span style="line-height: 4;">
                  <a href="https://www.facebook.com/englishandpictures" target="_blank" class="mryellow-white-color"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                  <a href="" target="_blank" class="mryellow-white-color"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/mryellow2016" target="_blank" class="mryellow-white-color"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                  <a href="" target="_blank" class="mryellow-white-color"><i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                  
                  </span>
        </div>
      </div>

    
    <div class="footer-copyright">
      <div class="container center mryellow-white-color letter-spacing-1" style="line-height:2.5em">
        <img src="img/mr-yellow-pisanka.png" style="width: 20%;margin-bottom:1%"> <br/>
        <a class="footer-link" href="#!">About us</a>
        <a class="footer-link" href="#!">Terms of use</a>
        <a class="footer-link" href="#!">Privacy Statement</a>
        <a class="footer-link" href="#!">Contact</a>
        <br/>
        <i class="fa fa-copyright fa-fg" aria-hidden="true"></i> 2016 <img src="img/mr-yellow-pisanka.png" style="width: 7%; margin-bottom: -0.5%; margin-left: 1%">

      </div>
    </div>
  </footer>
