
  <nav-bar-main></nav-bar-main>
  
  <section id="slajder">
    <div class="row">

      <div class="col s10 offset-s1" style="padding-top:1px;">
       
          
        
          <div class="home-main-slogan mryellow-white-color center-align">
            <img class="center" src="../img/MR-YELLOW-LOGO.png" style="width: 200px;"/>
          <br />  <br />
          Read & enjoy learning</div>
           
          <p class="mryellow-white-color center-align">Read books on-line and enjoy learning English through<br/>engaging stories and vivid illustrations.
          <br /><br /><br /><br /> <br />
          <a [routerLink]="['ReaderPanel','Library',{'mode':'all'}]" class="button-frame-regular-white center-align">READ & LEARN</a>
        </p>
        <!-- end row -->
      </div>
    </div>
    <!-- end first row -->

  </section>

  <section id="zajawki">
    <div class="row">


      <div class="col s1" style="background-color: #f8ede7;">&nbsp;</div>
      <div class="col s3 mp-blocks" style="background-color: #f8ede7;">
        <h2>
          <img src="../img/icons-features-02.png" /><br />
          word lists</h2>
        <p>Mini-dictionaries attached to each story explainining the most difficult words and phrases. You can print them or
          save on your computer.</p>
      </div>
      <div class="col s4 mp-blocks" style="background-color: #f4e7d7;">
        <h2><img src="../img/icons-features-03.png" /><br />flashcards</h2>
        <p>They are really useful to help you
remember new vocabulary. Why not
print them on colour  paper and decorate
your room with your favourite words?</p>
      </div>
      <div class="col s3 mp-blocks" style="background-color: #f4ddcb;">
        <h2><img src="../img/icons-features-05.png" /><br />
        pdf</h2>
        <p>Print-friendly format to use in class or fdjghdffjdj jsdfjdsjfsdj sjdfjdscjs dsjfjdfjdfjjfj j jfj  fjfjcjcdjcfj djvj.</p>
      </div>
      <div class="col s1" style="background-color: #f4ddcb;">
        &nbsp;
      </div>


    </div>
  </section>

  <footer1></footer1>

