  <div id="top-social-bar" style="padding-top: 5px;">
    <a href=""><i class="fa fa-envelope-o fa-2x mryellow-white-color" aria-hidden="true"></i> <span class="mryellow-white-color" style="font-size: 1em">Subscribe to newsletter</span>  </a>

    <a href=""><i class="fa fa-facebook fa-2x mryellow-white-color" aria-hidden="true"></i></a>
                <a href="" ><i class="fa fa-instagram fa-2x mryellow-white-color" aria-hidden="true"></i></a>
                <a href="" ><i class="fa fa-twitter fa-2x mryellow-white-color" aria-hidden="true"></i></a>
                <a href="" ><i class="fa fa-spotify fa-2x mryellow-white-color" aria-hidden="true"></i></a>
                
  </div> 
  <nav style="height: 50px">
    <div class="nav-wrapper" id="nav-bar-reader">
<div class="container">
      <a href="#" class="brand-logo"><img src="img/mr-yellow-pisanka.png" style="width: 150px; margin: 5px 0 0 0;"/></a>
      <ul style="margin: 0 0 0 180px;">
        <!--<li repeat.for="row of nawigacja"> 
       <a >{{row.title}}</a>
    </li>-->
        
      </ul>
    </div>
    </div>
  </nav> 

